#nome{
    text-align: center;
    text-decoration: underline;}
#foto{
    text-align: center;}
div h1:hover{
    color: mediumslateblue;}
#tabela_cursos{
    text-decoration: underline;}
.contato_e_projetos{
    font-size: large;
    text-decoration: underline;}
#contato_sublinado{
    text-decoration: underline;}
#tudo{
    text-align: center;}