#nome{
    text-align: center;
    text-decoration: underline;}
#foto{
    text-align: center;}
div h1:hover{
    color: mediumslateblue;}
#tabela_cursos{
    text-decoration: underline;}
.contato_e_projetos{
    font-size: large;
    text-decoration: underline;}
#contato_sublinado{
    text-decoration: underline;}
#tudo{
    text-align: center;
    background-color: rgb(230, 228, 227);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }
#tabela_cursos{
    display: 5px 5px;
}
#fixed{
    position: fixed;
    top: 0px;
    left: 0px;
}