.flex-container{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}
.flex-container div{
    background-color: bisque;
    padding: 10px;
    margin: 10px;
}