body{
    background-color: lightgray
}
#imagem_1{
    height: 200;
    width: 200;
    position: absolute;
    top: 20px;
    left: 100px;
    right: 100px;
}
#texto_c{
   text-align: center;
   font-size: larger;
   color: darkgreen;
   position: absolute;
     top: 60px;
    left: 800px;
}
#fogo_imagem{
    position: relative;
    left: 1600px;
    height: 200;
    width: 200;
}
.primeiro_quadrado{
    border: 5px solid darkblue;
    background-color: bisque;
    top: 300px;
}
.texto_foto{
    text-align: center;
}